
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css"  />
<link href='http://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
<title>TwistedNation</title>
</head>

<body style="background:#e6edef;">
<div class="mainContainer">
<div class="container">
	    
	<div id="wrap">
    	<div id="header">
                <img src="{{STATIC_URL}}images/vp.png" alt="" style="width:176px; margin-left:-2px;">
    	</div><!--end header-->
    	
 		<div id="userInfoName">
        	<div class="btn-group">
        	<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="usrName"><h5>Welcome new user</h5></a>
            		  <ul class="dropdown-menu">
                      	<img src="{{STATIC_URL}}images/arrowWhiteUp_03.png"  />
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Create New Account</a></li>
                        <li class="dividerNav"></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li class="dividerNav"></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Credits</a></li>
                      </ul>
             </div>    
        </div><!--end userInfoName-->    
                     
        <div id="login">
            	<h4>Login</h4>
					<form action="." method="POST" >
						{%csrf_token%}
						{{login_form.as_p}}
						<input type="submit" value="Login" class="btn" />
					</form>
          </div>
        </div>
        
       
        
    </div><!--end wrap-->

</div><!--end container-->
</p><!--end mainContainer-->

<script src="{{STATIC_URL}}js/jquery.js" ></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js" > </script>
<!-- ##for toggling child li## -->

<script type="text/javascript">
 $(document).ready(function() {

  $("#nav ul ul" ).hide();


$("#nav ul li").click(function() {
$(this).next().slideToggle();
});
});
</script>

<!--##for toggling show/hide

<!-- for tabs--->
<script>
  $(function () {
    $('#myTab a:last').tab('show');
  })
</script>
</body>
</html>
