
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css"  />
<link href='http://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
<title>TwistedNation</title>
</head>

<body>
<div class="mainContainer">
<div class="container">
	    
	<div id="wrap">
    	<div id="header">
                <img src="https://i.imgur.com/10U5ww6.png" alt="" style="width:176px; margin-left:-2px;">
    	</div><!--end header-->
    	
 		<div id="userInfoName">
      <div id="login">
            	<h4>Login</h4>
					<form action="." method="POST" >
						{%csrf_token%}
						{{login_form.as_p}}
						<input type="submit" value="Login" class="btn" />
					</form>
          </div>
       </div>
        
       
        
    </div><!--end wrap-->

</div><!--end container-->
</p><!--end mainContainer-->

<script src="{{STATIC_URL}}js/jquery.js" ></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js" > </script>
<!-- ##for toggling child li## -->

<script type="text/javascript">
 $(document).ready(function() {

  $("#nav ul ul" ).hide();


$("#nav ul li").click(function() {
$(this).next().slideToggle();
});
});
</script>

<!--##for toggling show/hide

<!-- for tabs--->
<script>
  $(function () {
    $('#myTab a:last').tab('show');
  })
</script>
</body>
</html>
