{% extends "user_pages/home/base_home.html" %}
{%block title%}
{{user.first_name}}'s Home
{%endblock%}
{%block page_content%}
<div class="pageContent">
    <h3>Search Results</h3>
    {%for matching_user in matching_users%}
            
            <div class="individualFeed" style="overflow:hidden; display:block !important; width:100%; padding: 5px;">
                                            <a href="/profile/{{matching_user.username}}">
                                            <div class="displayPic">
                                            <img src="/p/{{matching_user.members.photo}}" style="height:100%; width: 100%;" >
                                            </div><!--end displayPic-->
                                            
                                         </a>
                                            <p style="margin-left:65px;"><strong><a href="/profile/{{matching_user.username}}">{{matching_user.first_name}} {{matching_user.last_name}}</a></strong> {%if matching_user.members.institution%} of <strong>{{matching_user.members.institution}}</strong>{%endif%}</p>
                                            
                                                            
                                            
                                            
                                            
                                            
                                         </div>
    {%endfor%}
    
</div>
{%endblock%}