{% extends "user_pages/common_elements/base_user.html" %}
{%block title%}
{{user.first_name}}'s Home
{%endblock%}
{%block page_content%}
<div class="pageContent" >
	<h3>Your Blog Posts
		<span style="font-weight:normal; font-size: 14px;" > (<a href="/blog/create/">Create a new one</a>)</span>
	</h3>
	{% for blog in blogs  %}
	
<div class="individualFeed">
	    <div class="dividerLight">
	    </div><!--end dividerLight-->
	    <div class="displayPic">  
	    <a href="/profile/">
	    <img src="/pp/{{user.members.photo}}">
	        </a>
	    </div><!--end displayPic-->
		<div class="time">
	    	<p>{{blog.timestamp}}</p>
	    </div><!--end time-->
		
<div id="createPoll">
<p><strong><a href="/profile/">{{user.first_name}} {{user.last_name}}</a></strong></p>
</div>

	    
		

	    
	    <div style="clear:both; margin: 20px 0 0 5px; ">
	
	
		<a href="/blog/{{blog.id}}/">
			<h4>{{blog.title|truncatewords_html:5}}</h4>
			<br>
			<p>{{blog.content|truncatewords_html:8}}</p>
		</a>

	    </div>
		

	    </div>
	    
	    
	{% endfor %}
</div>
{%endblock%}