{% extends "user_pages/common_elements/base_user.html" %}
{%block title%}
{{user.members}}'s Home
{%endblock%}
{%block page_content%}
{%include "user_pages/common_elements/widget_nav_top_petitions.html"%}

<div class="tab-content">
    <form action="." method="post" accept-charset="utf-8">
    {% csrf_token %}
    {% for field in new_petform %}
    <p>
    <label>{{field.label}}</label>
    {{field}}
    </p>
    {% if field.errors %}
    <p>{{field.errors}}</p>
    {% endif %}
    {% endfor %}
      <p><input type="submit" value="Continue &rarr;"  class="btn"/></p>
    </form>
</div>                   
                   

{%endblock%}