{% extends "user_pages/common_elements/base_user.html" %}
{%block title%}
{{user.members}}'s Home
{%endblock%}
{%block page_content%}
{% if user.is_authenticated %}
{%include "user_pages/common_elements/widget_nav_top_petitions.html"%}
{% else %}
<br />
{% endif %}

<div class="tab-content">
    <div id="">      
        <h3 style="margin-bottom: 0px; float:left" >{{ petition.title }}</h3>
        <a href=".." class="btn" style="margin-top:15px; float:right;"  >&lt; Back to the petition page</a>
    </div>
    <p style="clear:both;" ><i>Created by <a href="/profile/{{petition.user.user.username}}/">{{petition.user.user.first_name}} {{petition.user.user.last_name}}</a></i></p>
    <p>Deadline: <strong>{{petition.deadline}}</strong> | Number of signatures: <strong>{{petition.current_num}}/{{petition.target_no_signs}}</strong>.</p>
    <br />
    <div class="">
        <h4>What the petition is about.</h4>
        {{petition.body|safe}}
        
        <h5>Decision Makers</h5>
        {% for each_dm in dm2 %}
            <div style="float:left; margin-right:10px; margin-bottom:10px;display: inline; border:#ccc thin solid; padding: 5px; border-radius: 10px;">
                <p style="margin:0px;" >Decision Maker: {{each_dm.name}} ({{each_dm.email}}) {% if petition.user.user = user %}<a href="#" class="" >[X]</a>{% endif %} </p>
                
            </div>
        {% endfor %}
        <h5 style="clear:both;"  >People who signed for this petition</h5>  
        {% for each_signer in signers %}
            <p><strong>{{each_signer.name}}</strong></p>
            <ul><li>{{each_signer.whysign|safe}}</li></ul>
        {% endfor %}
        {% if petition.user.user = user %}
        <a href="add-decision-maker/" class="btn" >Add a new Decision Maker</a>
        {% endif %}
    </div>
</div>                   
                   

{%endblock%}