<div class="individualFeed">
                                            <div class="dividerLight">
                                            </div><!--end dividerLight-->
                                            <div class="displayPic">  
                                            <a href="/profile/{{post.member.user.username}}">
                                            <img src="/p/{{post.member.photo}}">
                                                </a>
                                            </div><!--end displayPic-->
                                            <p style="margin-left:65px;"><strong><a href="/profile/{{post.member.user.username}}">{{post.member.user.first_name}} {{post.member.user.last_name}}</a></strong></p>
                                            <div class="time">
                                            <p>{{post.timestamp}}</p><p>
                                            </p></div><!--end time-->
                                            <div style="margin: 20px 0 20px 5px" >
                                            {{post.content}}</div>    
                                            <div class="contentIcons">
                                                <a href="/post/{{post.id}}/action/?action=upvote" class=" c_postVote" ><img src="{{STATIC_URL}}images/thumbsUp_15.png"><span class=" c_postUpVote">{{post.upvotes_number}}</span></a>
                                                <a href="/post/{{post.id}}/action/?action=downvote" class=" c_postVote "><img src="{{STATIC_URL}}images/thumbsDown_15.png"><span class="c_postDownVote" >{{post.downvotes_number}}</span></a>
                                                <a href="/post/{{post.id}}/comments/all/" class="viewComments" ><img src="{{STATIC_URL}}images/commentIcon_15.png">View all <span class="commentsNumber" >{{post.comments_number}}</span> comments.</a>
                                                <a href="/post/{{post.id}}/pin/" class="pinPost" ><img src="{{STATIC_URL}}images/pinIcon_15.png">Pin it.</a>
                                                 </div><!--emd contentIcons-->
                                                 
                                                 <div class="existingComments">
                                                 </div>
                                            <div class="addCommentBox">
                                                <img class="commentDP" src="/p/{{owner_member.photo}}">
                                                <form action="/post/{{post.id}}/comment/action/?action=new" class="commentForm">
                                                <input type="text"  placeholder="Write a comment..." name="content" style="width:464px; margin: 0 0 0 5px" >
                                                <input type="submit" style="display:none" >
                                                </form>
                                                </div><!--end addCommentBox-->
                                            </div>