<div id="nav" style="display: none;" >
            	<ul class="unstyled" id="sideNav">
                	<li class="reveal"><a href="/home/" class="navActive">Home</a>
                    	<ul class="unstyled">
                        	<li><a href="/home/"><img src="{{STATIC_URL}}images/newsIcon_03.png">News</a></li>
                            <li><a href="/pinned-posts/"><img src="{{STATIC_URL}}images/pinpostIcon_03.png">Pinpost</a></li>
                            <li><a href="/petitions/"><img src="{{STATIC_URL}}images/petitionIcon_03.png">Petition</a></li>
                            <li><a href="/debate/"><img src="{{STATIC_URL}}images/debateIcon_03.png">Debate</a></li>
                        </ul>
                        </li>
                    <li><a href="/messages/">Messages</a>
                        </li>
                    <li class="reveal"><a href="/friends/">Contacts</a>
                    	<ul class="unstyled">
                        	<li><a href="/friends/"><img src="{{STATIC_URL}}images/friendsIcon_07.png">Friends</a></li>
                            <li><a href="/notifications/"><img src="{{STATIC_URL}}images/requestIcon_07.png">Requests</a></li>
                            <!--<li><a href="#"><img src="{{STATIC_URL}}images/blocked_07.png">Blocked</a></li>-->
                            <!--<li><a href="#"><img src="{{STATIC_URL}}images/findIcon_07.png">Find Friends</a></li>-->
                        </ul>
                        </li>
                    <li><a href="/albumlist/">Photo</a>
                    <!--
                    	<ul class="unstyled">
                        	<li><a href="#"><img src="{{STATIC_URL}}images/photoIcon_07.png">Photos</a></li>
                            <li><a href="#"><img src="{{STATIC_URL}}images/videoIcon_10.png">Videos</a></li>
                        </ul>
                        -->
                        </li>
                    <li><a href="/video/">Video</a>
                    </li>
                    <li class="reveal"><a href="/blog/">Blog</a>
                    	<ul class="unstyled">
                        	<li><a href="/blog/"><img src="{{STATIC_URL}}images/blogIcon_11.png">Your Blog</a></li>
                            <!--<li><a href="#"><img src="{{STATIC_URL}}images/communityIcon_11.png">Community</a></li>-->
                        </ul>
                        </li>
                    <li class="reveal"><a href="/polls/">Poll</a>
                    	<ul class="unstyled">
                        	<li><a href="/polls/"><img src="{{STATIC_URL}}images/pollsIcon_07.png">Your Polls</a></li>
                            <li><a href="/polls/search/"><img src="{{STATIC_URL}}images/findIcon_07.png">Search</a></li>
                            <li><a href="/polls/trending/"><img src="{{STATIC_URL}}images/trendIcon_07.png">Trending</a></li>
                        </ul>
                        </li>
                <!--    <li class="noreveal"><a href="#">Store</a></li>-->
                </ul>
            </div>